<div class="container">
  <h3 class="title-option">Administrar Clientes</h3>
  <h4 class="subtitle-option">Editar</h4>
  <form [formGroup]="formEditUser" (ngSubmit)="guardarRespuestas()" class="formCreateUser">
    <div class="flex-form">
      <label class="text-form" for="idUser">Cédula:</label>
      <input class="label-form" type="text" id="idUser" formControlName="idUser">
    </div>
    <div class="cuadrado" *ngIf="showList">
      <table>
        <thead>
          <tr>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Celular</th>
            <th>Aceptar</th>
          </tr>
        </thead>
        <tbody>
          <!-- Repite este bloque para cada persona en la lista -->
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.cel }}</td>
            <td><button (click)="aceptarPersona(user.id)" class="btn">Editar</button>
              <button (click)="aceptarPersona(user.id)" class="btn">Eliminar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="btn-flex">
      <button type="submit" class="cta ctaSearch">Buscar</button>
    </div>
  </form>
  </div>
