<section class="knowledge">
  <!--a diferencia del otro section, este no tiene container ya que le quiero cambiar el color de fondo y pues si tiene container solo se le aplicario al 80%-->
  <div class="knowledge__container container" id="nosotros">
    <div class="knowledge__texts">
      <h2 class="subtitle">Parqueadero completo. ¡Crea esos MOMENTOS inolvidables!</h2>
      <p class="knowledge__paragraph">Los MOMENTOS son aquellos recuerdos los cuales marcan positivamente a las
        personas, haciendolos recordar con nostalgia una grata experiencia. !Nuestro objetivo es ese! crear esas
        experiencias inolvidables, esos MOMENTOS.</p>
      <a href="#precios" class="cta">Encuentra tu plan</a>
    </div>
    <figure class="knowledge__picture">
      <img src="../../../assets/imagenes/parkingImg.jpg" alt="imagen de parking" class="knowledge__img">
    </figure>
  </div>
</section>
