<section class="price container" id="precios">
  <h2 class="subtitle">Obten el plan perfecto</h2>

  <div class="price__table">
    <div class="price__element">
      <p class="price__name">MOTOS</p>
      <h3 class="price__price">$20.000</h3>

      <div class="price__items">
        <p class="price__features">Lavado exterior</p>
        <p class="price__features">Cubierta ACPM</p>
        <p class="price__features">Cuatro horas de parqueo GRATIS</p>
      </div>

      <a  class="price__cta price__cta--trans" [routerLink]="['/login']">Reserva ahora</a>
    </div>


    <div class="price__element price__element--best">
      <p class="price__name">CARRO</p>
      <h3 class="price__price">$30.000</h3>

      <div class="price__items">
        <p class="price__features">Lavado exterior e interior</p>
        <p class="price__features">Limpieza de muebles profunda</p>
        <p class="price__features">Dos horas de parqueo GRATIS</p>
      </div>

      <a class="price__cta price__cta--trans" [routerLink]="['/login']">Reserva ahora</a>
    </div>


    <div class="price__element">
      <p class="price__name">CAMIONETAS</p>
      <h3 class="price__price">$37.000</h3>

      <div class="price__items">
        <p class="price__features">Lavado exterior e interior</p>
        <p class="price__features">Limpieza de muebles profunda</p>
        <p class="price__features">Dos horas de parqueo GRATIS</p>
      </div>

      <a class="price__cta price__cta--trans" [routerLink]="['/login']">Reserva ahora</a>
    </div>
  </div>
</section>
