<div class="container__log">
  <div class="log__text">
      <h1 class="log__welcome">Bienvenido!!</h1>
      <h3>Inicia sesion para agendar alguno de nuesros servicios</h3>
  </div>
  <form [formGroup]="formEditUser" (ngSubmit)="guardarRespuestas()" class="log__form">
      <h3>Login</h3>
      <input type="text" class="input__form" placeholder="USUARIO" id="username" formControlName="username">
      <input type="text" class="input__form" placeholder="CONTRASEÑA" id="password" formControlName="password">
      <button class="btn__log" >Login</button>
      <h4 class="last__log">No tienes cuenta? <span class="log__other">Registrate aqui</span></h4>
  </form>
</div>
