<div class="container">
  <h3 class="title-option">Lista Tareas</h3>
  <h4 class="subtitle-option">Lavar</h4>
  <div class="cuadrado">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Placa</th>
          <th>Fecha</th>
          <th>Tipo de Lavado</th>
          <th>Tarifa</th>
          <th>Aceptar</th>
        </tr>
      </thead>
      <tbody>
        <!-- Repite este bloque para cada persona en la lista -->
        <tr *ngFor="let lavado of lavados">
          <td>{{ lavado.id_solicitud }}</td>
          <td>{{ lavado.placa_vehiculo }}</td>
          <td>{{ lavado.fecha_solicitud | slice: 0:10}}</td>
          <td>{{ setTipoLavado(lavado.id_tipo_lavado) }}</td>
          <td>{{ lavado.tarifa }}</td>
          <td><button (click)="aceptarPersona(lavado.id_solicitud)" class="btn">Aceptar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
