<section class="container about">
  <h2 class="subtitle">¿Qué experiencias encontraras aquí?</h2>
  <p class="about__paragraph">Todo lo necesario para que dejar tu vehiculo e irte confiado de que esta en las mejores manos.</p>

  <div class="about__main">
    <article class="about__icons">
      <img src="../../../assets/imagenes/clean.svg" alt="Icono de montaña" class="about__icon">
      <h3 class="about__title">Lavadero</h3>
      <p class="about__paragraph">Conoce los distintos tipos de lavados semi-personalizados, en los cuales volvera a cobrar vida tu vehiculo.
      </p>
    </article>
    <article class="about__icons">
      <img src="../../../assets/imagenes/parking.svg" alt="Icono de hotel" class="about__icon">
      <h3 class="about__title">Parqueadero</h3>
      <p class="about__paragraph">Hospeda tu vehiculo en un area de confianza y seguridad, para que en tu tiempo de ausente tengas una carga menos.
      </p>
    </article>
    <article class="about__icons">
      <img src="../../../assets/imagenes/person.svg" alt="Icono de guarderia" class="about__icon">
      <h3 class="about__title">Servicio</h3>
      <p class="about__paragraph">Servicio formal, respetuoso y amigable es el que brindamos ya que no solo cuidamos vehiculos, sino sueños.
      </p>
    </article>
  </div>
</section>
