<section class="questions container">
  <h2 class="subtitle">Preguntas frecuentes</h2>


  <section class="questions__container">
    <article class="questions__padding">
      <div class="questions__answer">
        <h3 class="questions__title">
          ¿Se puede parquear sin necesidad de lavar el vehiculo?
          <span class="questions__arrow">
            <img src="../../../assets/imagenes/arrow.svg" class="questions__img" alt="Imagen de flecha">
          </span>
        </h3>

        <p class="questions__show">Totalmente, nuestro apartado de lavadero de vehiculos es solo un extra que puedes contratar, sin embargo tambien brindamos la experiencia de parqueadero de forma individual.</p>
      </div>
    </article>

    <article class="questions__padding">
      <div class="questions__answer">
        <h3 class="questions__title">
          ¿Tengo que pagar antes de reservar?
          <span class="questions__arrow">
            <img src="../../../assets/imagenes/arrow.svg" class="questions__img" alt="Imagen de flecha">
          </span>
        </h3>

        <p class="questions__show">No, todo pago se hara de forma presencial una vez hayamos realizado nuestro trabajo de forma satisfactoria
        </p>
      </div>
    </article>

    <article class="questions__padding">
      <div class="questions__answer">
        <h3 class="questions__title">
          ¿Porque parquear en UNIPARK?
          <span class="questions__arrow">
            <img src="../../../assets/imagenes/arrow.svg" class="questions__img" alt="Imagen de flecha">
          </span>
        </h3>

        <p class="questions__show">A diferencia de nuestra copetencia, aqui nuestra prioridad es la satisfaccion del
          cliente encima que la nuestra, logrando por medio de la mejor comodidad conseguir esos momentos deseados.
        </p>
      </div>
    </article>
  </section>

  <section class="questions__offer">
    <h2 class="subtitle">¿Estas listo para agendar tu parqueo?</h2>
    <p class="questions__copy">Programate ya y disfruta de nuestros distintos planes.
    </p>
    <a [routerLink]="['/login']" class="cta">Reserva ahora</a>
  </section>
</section>
