
:root {
  --padding-container: 100px 0;
  --color-title: #001a49;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  /*para que se centre verticalmente*/
  /* overflow: hidden; */
  /*y todo lo que se salga, se esconda */
  padding: var(--padding-container);
}
.subtitle {
  color: var(--color-title);
  font-size: 2rem;
  margin-bottom: 25px;
}

.testimony{
  background-color: #e5e5f7;
  margin-top: 100px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.testimony__container{
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  gap: 1em;
  align-items: center;
}

.testimony__body{
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  grid-column: 2/3;
  grid-row: 1/2;
  opacity: 0;
  pointer-events: none;
}

.testimony__body--show{
  pointer-events: unset;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.testimony__img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 30%;
}

.testimony__text{
  max-width: 700px;
}

.testimony__course{
  background-color: royalblue;
  color: #fff;
  display: inline-block;
  padding: 5px;
}

.testimony__arrow{
  width: 90%;
  cursor: pointer;
}
