<section class="testimony">
  <div class="testimony__container container">
    <img src="../../../assets/imagenes/leftarrow.svg" class="testimony__arrow" alt="Flecha izquierda" id="before">

    <section class="testimony__body testimony__body--show" data-id="1">
      <div class="testimony__text">
        <h2 class="subtitle">Mi nombre es Miranda Ramirez, <span testimony__course>Cliente.</span></h2>
        <p class="testimony__review">son muy profesionales y lo mas importante, respetan los tiempos estipulados.</p>
      </div>

      <figure class="testimony__picture">
        <img src="../../../assets/imagenes/cliente2.jpeg" class="testimony__img" alt="Imagen de persona">
      </figure>
    </section>

    <section class="testimony__body" data-id="2">
      <div class="testimony__text">
        <h2 class="subtitle">Mi nombre es Michael Tobon, <span testimony__course>Cliente.</span></h2>
        <p class="testimony__review">Soy estudiante del ITM y los dias de pico y placa me ha sido de demasiada ayuda.</p>
      </div>

      <figure class="testimony__picture">
        <img src="../../../assets/imagenes/cliente3.jpg" class="testimony__img" alt="Imagen de persona">
      </figure>
    </section>

    <section class="testimony__body" data-id="3">
      <div class="testimony__text">
        <h2 class="subtitle">Mi nombre es karen Arteaga, <span testimony__course>Cliente.</span></h2>
        <p class="testimony__review">Celebre mis 15 años en el parque de boston y fue el mejor lugar que encontre para guardar los vehiculos de mis
          invitados, muy recomendado.</p>
      </div>

      <figure class="testimony__picture">
        <img src="../../../assets/imagenes/15s.jpg" class="testimony__img" alt="Imagen de persona">
      </figure>
    </section>

    <img src="../../../assets/imagenes/rightarrow.svg" class="testimony__arrow" alt="Flecha derecha" id="next">
  </div>
</section>
