<div id="sidebar" class="container-menu">
  <div class="logo-content">
    <h3 class="title-logo">UNIPARK</h3>
  </div>
  <ul class="options">
    <div *ngFor="let menuItem of menuItems; let i = index">
      <div class="option-flex">
        <img [src]="menuItem.iconPath" class="icon-users" alt="">
        <!-- si hay un path hace este -->
        <ng-container *ngIf="menuItem.path; else noLink">
          <li class="option" (click)="toggleSubOptions(i)" [routerLink]="[menuItem.path]" >
            {{ menuItem.title }}

          </li>
        </ng-container>
        <!-- sino hay entonces hace este -->
        <ng-template #noLink>
          <li class="option" (click)="toggleSubOptions(i)" >
            {{ menuItem.title }}

          </li>
        </ng-template>

      </div>
    </div>
  </ul>
</div>
