<div class="container">
  <h3 class="title-option">Vehiculos</h3>
  <h4 class="subtitle-option">Crear</h4>
  <form [formGroup]="formCreateVehicle" (ngSubmit)="guardarRespuestas()" class="formCreateUser">
    <div class="flex-form">
      <label class="text-form" for="idUser">Cédula:</label>
      <input class="label-form" type="text" id="idUser" formControlName="idUser">
    </div>
    <div class="flex-form">
      <label class="text-form" for="carId">Placa:</label>
      <input class="label-form" type="text" id="carId" formControlName="carId">
    </div>
    <div class="flex-form">
      <label class="text-form" for="typeVehicle">Tipo Vehiculo:</label>
      <select class="label-form" id="typeVehicle" formControlName="typeVehicle">
        <option *ngFor="let type of types" [value]="type.id_tipo">{{ type.descripcion_vehiculo }}</option>
      </select>
    </div>
    <div class="btn-flex">
      <button type="submit" class="cta">Guardar</button>
    </div>
  </form>
</div>
